/* You can add global styles to this file, and also import other style files */

body {
  margin: 0 1em;
}

body, button, input {
  font-family: 'Courier New', Courier, monospace;
}

input, button {
  margin: 0.1em 0;
}

button {
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}
